.radio-inputs {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  width: 100vw;
  /* padding: 0.25rem 0.25rem 1rem 0.25rem; */

  background-color: #cc3434;
  box-sizing: border-box;
  font-size: 14px;
  z-index: 999;
}

/* cada opção */
.radio-inputs .radio {
  flex: 1;
  text-align: center;
  cursor: pointer;
}

/* texto */
.radio-inputs .radio .name {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 1rem 0;
  
  color: #fff;

  /* reserva espaço */
  border-bottom: 5px solid transparent;

  transition: color 0.15s ease-in-out,
              border-color 0.15s ease-in-out;
}

/* item ativo */
.radio-inputs .radio.active .name {
  font-weight: 600;
  border-bottom-color: #fff;
}
