.splash {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  background: #eee; /* ou transparente */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  z-index: 9999;
  transition: opacity 1s ease;
}

.splash.fade {
  opacity: 0;
  pointer-events: none;
}

.logo {
  width: 160px;
}

.username {
  color: #000 ;
  font-size: 14px;
  opacity: 0.8;
}

.social {
  display: flex;
  gap: 16px;
}

.social img {
  width: 24px;
  cursor: pointer;
  opacity: 0.8;
}

.social img:hover {
  opacity: 1;
}
